<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="user-scalable=no" />
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='dong.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
  <meta charset="utf-8">
  <title>PlexDong {{ title }}</title>
</head>
  <div class="topnav">
    <p>&#127814;PlexDong</p>
  </div>
  <div class="card">
    <form action="/dong" method="post">
      <input type="text" name="email" placeholder="username/email" pattern="[a-zA-Z0-9@.-_]{3,}" required/>
      <input type="submit" value="Submit"/>
    </form>
    <div class="container">
      <h3>{{ statement }}<h3>
        <h1>{{ default | safe }}</h1>
        {{ dong }}
        {{ error }}
        {{ msg | safe }}
          <br />
          <button id="showBrd">Show Leaderboard</button>
      <div id="ldrBrd" style="display: none;">
          {% for user in alluser %}
            <p> {{ user }} </p>
          {% endfor %}
      </div>
      </div>
    </div>
    </html>
